* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f4f6f8;
  color: #333;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 5px;
  margin-top: 0px;
}

p {
  margin-top: 0;
  color: #666;
}

/* Card */
.card {
  background: #fff;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

/* Inputs */
input, select {
  padding: 8px;
  margin: 6px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Buttons */
button {
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  background: #1976d2;
  color: white;
  cursor: pointer;
  margin-right: 6px;
}

button:hover {
  background: #135ba1;
}

button.secondary {
  background: #777;
}

button.secondary:hover {
  background: #555;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
}

th {
  background: #f0f2f5;
  text-align: left;
}

td, th {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background: #f9f9f9;
}

img {
  border-radius: 4px;
}

/* Print */
@media print {
  body * {
    visibility: hidden;
  }

  #print-table,
  #print-table * {
    visibility: visible;
  }

  #print-table {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .no-print {
      display: none !important;
    }
}

table, th, td {
border: 1px solid black;
border-collapse: collapse;
}


/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.3s;
  border-radius: 22px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: #1976d2;
}

.switch input:checked + .slider:before {
  transform: translateX(20px);
}
